.deleteLayout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(143, 142, 142, 0.521);
    padding: 15px;
}

.dlName{
    max-width: 50%;
    padding: 5px;
}

.inputNbtn{
    width: 50%;
}

.deleteLayout input{
    width: 40%;
    padding: 5px;
    margin-right: 5px;
}

.deleteLayout button{
    float: right;
    padding: 5px 8px;
    background-color: rgb(99, 187, 99);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}